 #game div {
     border: 3px solid black;
     width: 15%;
     height: 200px;
     margin: 10px;
     display: inline-block;
 }


 .container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
 }

 #main-Heading {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 35px;
 }

 #game div:hover {
     cursor: pointer;
 }

 .btn {
     margin-top:100px;
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
 }

 #start-button {
     color: white;
     /* width:50% */
     font-size: 25px;
     background-color: green;
     border: 3px solid black;
     border-radius: 8px;
     padding: 20px 40px;
 }

 #scoreBoard {
    text-align: center;
    font-size: 250%;
    font-family: monospace;
    margin-bottom: 20px;
 }